@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);     /* 从左边外开始（刚要进入）*/
  }
  100% {
    transform: translateX(100%);      /* 滑到右边外（完全滑出）*/
  }
}

.slide-in {
  animation: slide-in 3s linear 1s infinite running;
}

